.table {
  border: 1px solid var(--surface-200);
  border-radius: 6px;
  overflow: hidden;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
  }
}
