.containerTable {
  width: 100%;
  height: 100%;
  .table {
    height: fit-content;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
    width: 100%;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      gap: 10px;
      flex-wrap: wrap;
    }
    .buttonGroup {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: end;
    }
  }
}
