.formProduct {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    margin-top: 0.4rem;
  }
}
