.table {
  flex: 1;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .buttonGroup {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
  }
}
.table :global(.p-datatable-wrapper) {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

/* El contenedor del Virtual Scroller debe llenar el wrapper */
.table :global(.p-virtualscroller) {
  flex: 1 1 auto;
  height: 100%;
}
.formProduct {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    margin-top: 0.4rem;
  }
}
