.table {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .buttonGroup {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
  }
}
.formProduct {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    margin-top: 0.4rem;
  }
}
