.mainLayoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sectionModuleContainer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 8px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menuBar {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  padding: 0.5rem;
  background: white;
}

.header {
  background: var(--primary-color);
  color: var(--primary-color-text);
  padding: var(--content-padding);

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 25px;
    max-width: 1280px;
    margin: 0 auto;

    .headerSpan {
      font-weight: 300;
    }
  }
}
.footer {
  margin-top: 10px;
  background-color: var(--gray-100);
  padding: 2rem;
  color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  .footerInfo {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 var(--content-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

:global(.active-menuitem) :global(.p-menuitem-text),
:global(.active-menuitem) :global(.p-menuitem-icon) {
  color: var(--highlight-text-color);
}
:global(.active-menuitem) :global(.p-menuitem-content) {
  background-color: var(--highlight-bg);
}

@media screen and (max-width: 960px) {
  .header {
    a {
      padding: 0.5rem 1rem;
    }
  }
  .sectionModuleContainer {
    padding: 1rem;
  }
}
