.mainLayoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sectionModuleContainer {
  max-width: 1280px;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 8px;
  flex: 1;
}

.menuBar {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--surface-200);
}

.header {
  background-color: var(--surface-200);
  color: var(--text-secondary-color);
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 25px;
    padding: 0rem 2rem;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
  }
}
.footer {
  margin-top: 10px;
  background-color: var(--surface-200);
  padding: 2rem;
  text-align: center;
  color: var(--text-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

:global(.active-menuitem) :global(.p-menuitem-text),
:global(.active-menuitem) :global(.p-menuitem-icon) {
    color: var(--blue-600) !important; 
    font-weight: bold;
}