.mainLayoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sectionModuleContainer {
  max-width: 1280px;
  width: 100%;
  margin: 10px auto 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 380px;
  position: relative;
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.menuBar {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  padding: 0.5rem;
  background: white;
}

.header {
  background: var(--primary-color);
  color: var(--primary-color-text);
  padding: var(--content-padding);

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 25px;
    max-width: 1280px;
    margin: 0 auto;

    .headerSpan {
      font-weight: 300;
    }
  }
}
.footer {
  padding: var(--content-padding);
  color: var(--surface-300);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: auto;
  display: flex;
  align-items: center;
  .footerInfo {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 var(--content-padding);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
  }
}

:global(.active-menuitem) :global(.p-menuitem-text),
:global(.active-menuitem) :global(.p-menuitem-icon) {
  color: var(--highlight-text-color);
}
:global(.active-menuitem) :global(.p-menuitem-content) {
  background-color: var(--highlight-bg);
}

@media screen and (max-width: 960px) {
  .header {
    a {
      padding: 0.5rem 1rem;
    }
  }
  .sectionModuleContainer {
    padding: 1rem;
  }
}
