.homePage {
  padding-top: 135px;
  min-height: auto !important;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}
.imgMK {
  width: 70px;
  height: auto;
  position: absolute;
  z-index: -1;
  filter: drop-shadow(0px 5px 1px rgba(114, 0, 0, 0.2));
  right: 4rem;
  top: -1rem;
}
.animation {
  position: absolute;
  display: block;
  width: 100%;
  background-color: var(--red);
  height: 300px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  z-index: -1;
  background: linear-gradient(70deg, var(--red), rgb(179, 0, 0));
}
.containerMainText {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  .textPruebaTecnica {
    font-size: clamp(2.8rem, 7.5vw, 4rem);
    color: black;
    text-transform: uppercase;
    line-height: 3.3rem;
  }
  .textPruebaTecnica1 {
    color: var(--gray-900);
    font-weight: bolder;
  }
  .colorGray {
    color: var(--gray-800);
  }
}

.containerExplication {
  position: relative;
  max-width: 400px;
  padding-right: 50px;
  h3 {
    span {
      display: block;
    }
  }
}

.containerLogos {
  display: flex;
  padding: 0 var(--content-padding);
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--content-padding);
  img {
    cursor: pointer;
    width: auto;
    height: 100px;
    object-fit: contain;
    max-width: 200px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    opacity: 0.8;
  }
  img:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 1015px) {
  .containerMainText {
    padding: 0 var(--content-padding);
  }
  .containerExplication {
    width: 100%;
    padding: 0 var(--content-padding);
  }
  .containerLogos {
    img {
      height: 70px;
    }
  }
}
