.table {
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  :global(.p-datatable-wrapper) {
    background-color: white;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
    .containerInputText {
      flex: 1;
      input {
        width: 100%;
        min-width: 175px;
      }
    }
  }
  .buttonGroup {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
  }
  .spanPrice {
    font-size: 25px;
    color: black;
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
  .spanName {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .addProductButton {
    background-color: var(--red);
    border: 1px solid var(--red);
  }
}
