.table {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .buttonGroup {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
  }
}
